@font-face {
  font-family: Linotype Univers Bold;
  src: url(./Linotype\ Univers\ Bold-BEQ5CNPx.ttf) format("truetype");
}
@font-face {
  font-family: Linotype Univers Regular;
  src: url(./Linotype\ Univers\ Regular-DW9BGKDs.ttf) format("truetype");
}
@font-face {
  font-family: Linotype Univers Light;
  src: url(./Linotype\ Univers\ Light-B90sSwvK.ttf) format("truetype");
}
* {
  font-family: Linotype Univers Light;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: Linotype Univers Bold;
  font-size: 2.75em;
  opacity: 1;
  margin-bottom: 0.5em;
  line-height: 1em;
}
body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
}
div {
  width: 100vw;
  height: 200dvh;
  z-index: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.section {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
}
.section-content {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 0.25em;
  font-family: Linotype Univers Regular;
}
.body-copy {
  width: 100%;
}
p {
  white-space: wrap;
}
#section-0 h1,
#section-11 h1,
#ending {
  margin-top: 3em;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}
#ending {
  position: fixed;
  opacity: 0.5;
  bottom: 4em;
}
#section-0 h1 p:last-of-type,
#section-11 h1 p:last-of-type {
  font-family: Linotype Univers Bold;
}
#instructions {
  width: 100vw;
  text-align: center;
  margin-top: -1.25em;
  font-size: 0.7em;
  animation: blink 1.5s infinite ease;
}
@keyframes blink {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0.25;
  }
}
#section-1 .section-content {
  width: 25vw;
  left: 53vw;
  top: 46dvh;
}
#section-2 .section-content {
  width: 20vw;
  left: 50vw;
  top: 35dvh;
}
#section-3 .section-content {
  width: 20vw;
  left: 40vw;
  top: 25dvh;
}
#section-4 .section-content {
  width: 21vw;
  left: 56vw;
  top: 35dvh;
}
#section-5 .section-content {
  left: 53vw;
  top: 45dvh;
}
#section-6 .section-content {
  left: 16vw;
  top: 40dvh;
}
#section-7 .section-content {
  left: 38vw;
  width: 12vw;
  top: 27.5dvh;
}
#section-8 .section-content {
  width: 100vw;
  top: 30dvh;
  left: 30vw;
}
#section-9 .section-content {
  left: 50vw;
  top: 66dvh;
}
#section-10 .section-content {
  left: 35vw;
  top: 13dvh;
}
